* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue;
}

.contenitore {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.quadratino {
    float:left;
    margin: 1px;
    background-color: white;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
